{% extends 'Shedule/base.html' %}
{% block content %}
    <h1>Django — </h1>

    это высокоуровневый веб-фреймворк для языка Python, позволяющий быстро разрабатывать динамические веб-приложения.

    <h3> Быстрота:</h3> Django был разработан, чтобы помочь разработчикам создать приложение настолько быстро, на сколько это возможно.
    Это включает в себя формирование идеи, разработку и выпуск проекта, где Django экономит время и ресурсы на каждом из этих этапов.
    Таким образом, его можно назвать идеальным решением для разработчиков, для которых вопрос дедлайна стоит в приоритете.

    <h3> Полная комплектация:</h3> Django работает с десятками дополнительных функций, которые заметно помогают с аутентификацией пользователя, картами сайта, администрированием содержимого, RSS и многим другим.
    Данные аспекты помогают осуществить каждый этап веб разработки.

    <h3>Безопасность:</h3> Работая в Django, вы получаете защиту от ошибок, связанных с безопасностью и ставящих под угрозу проект.
    Я имею ввиду такие распространенные ошибки, как инъекции SQL, кросс-сайт подлоги, clickjacking и кросс-сайтовый скриптинг.
    Для эффективного использования логинов и паролей, система пользовательской аутентификации является ключом.

    <h3> Масштабируемость:</h3> Фреймворк Django наилучшим образом подходит для работы с самыми высокими трафиками.
    Следовательно, логично, что великое множество загруженных сайтов используют Django для удовлетворения требований, связанных с трафиком.

    <h3> Разносторонность: </h3> Менеджмент контента, научные вычислительные платформы, даже крупные организации – со всем этим можно эффективно справляться при помощи Django.
{#    <h2><a href={% url 'query' %}>Query</a></h2>#}
{% endblock %}