{% extends 'Shedule/base.html' %}
{% block content %}

            <form method="POST" class="post-form">{% csrf_token %}
                <div class="col-sm-12">
                     <table class="table table-bordered">
                         <tbody>
                          <tr>
                            {{ form.as_table }}
                          </tr>
                         </tbody>
                         </table>
                    <button type="submit" class="save btn btn-default">Save</button>
                </div>
                 </form>

{% endblock %}