{% extends 'Shedule/base.html' %}
{% block content %}

    <div class="container">
    Добавить запись    <a class="btn btn-default" href="{% url 'teacher_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <p></p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Табельный номер</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Звание</th>
                <th>Академическая степень</th>
                <th>Должность</th>
                <th>Дата избрания</th>
                <th>Кафедра</th>
              </tr>
            </thead>
            <tbody>

            {% for i in post %}

              <tr>
                <td>{{ i.personal_number }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.surname }}</td>
                <td>{{ i.middle_name }}</td>
                <td>{{ i.rank }}</td>
                <td>{{ i.academic_degree }}</td>
                <td>{{ i.position }}</td>
                <td>{{ i.election_date }}</td>
                <td>{{ i.department }}</td>
                <td><a class="btn btn-default" href="{% url 'teacher_edit' pk=i.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a class="btn btn-default" href="{% url 'teacher_del' pk=i.pk %}"><span class="glyphicon glyphicon-minus"></span></a></td>

              </tr>
            {% endfor %}

            </tbody>
          </table>
         </div>
{% endblock %}